.body {
    background-color: aliceblue;
}

#navbar-header{
    background-color: blueviolet !important;
    color: white;
    padding: 0;
    margin: 0;
    height: auto;
}
.header a{
    color: white;
    font-weight: bolder;
}

#APLogo {
    height:80px;
}

#logogithub {
    height: 35px;
    margin-bottom: 20px;
}
#logolinkedin {
    height: 35px;
}

#login {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 10px;
}

#banner {
    
}


.header-main{
    padding-bottom: 15px;
}

.expyedu {
    padding-bottom: 15px;
}

#mifoto {
    position: relative;
    height: 20vh;
    border-radius: 100%;
    margin-left: 30px;
    margin-top: -30%;
}

#pAcercaDe {
    font-weight: 500;
}

.card li {
    border: 0;
}



.container {
    background-color: blueviolet;
    padding-left: 50px;
    padding-right: 50px;
}


.skills {
    background-color: blueviolet;
    padding: 10px 100px 10px 100px;
    color: white;
}

.col-xs-2 {
    margin-top: 10px;
}

.col-md {
    margin-top: 25px;
}

.footer {
    color: white;
    text-align: left;
 
}

.py-5 a {
    color: white;
}



.proyectos{
    background-color:blueviolet;
    padding:20px 10px 40px 83px;
}

.proyectos h5 {
    color: white;
    margin-bottom: 25px;
}

.card-proyectos {

    margin-bottom: 25px;
    background-color: rgb(20, 17, 199);
    color: red;
    font-weight: bolder;
}