

.container {
    background-color: blueviolet;
    padding-left: 50px;
    padding-right: 50px;
}


.skills {
    background-color: blueviolet;
    padding: 10px 100px 10px 100px;
    color: white;
}

.col-xs-2 {
    margin-top: 10px;
}

.col-md {
    margin-top: 25px;
}

.footer {
    color: white;
    text-align: left;
 
}

.py-5 a {
    color: white;
}



.proyectos{
    background-color:blueviolet;
    padding:20px 10px 40px 83px;
}

.proyectos h5 {
    color: white;
    margin-bottom: 25px;
}

.card-proyectos {

    margin-bottom: 25px;
    background-color: rgb(20, 17, 199);
    color: red;
    font-weight: bolder;
}

.footer {
    padding: 50px 0px 30px 150px;
}

.footer a {
    color: white;
}