

<div class="card-body">

    <h4 class="card-title">Hola, soy Marcelo y este es mi Portfolio Web</h4>

    <p class="card-text">Trabajo en el área de Infraestructura IT como Analista de
        Soporte Técnico y Helpdesk hace más de 15 años. Actualmente <span> estoy comprometido en
            mi formación como Full Stack Developer y pretendo involucrarme, participar y
            trabajar en la industria del Desarrollo Web y de aplicaciones a nivel nacional y/o
            internacional</span>. Este portfolio fue desarrollado por mí gracias a la
        capacitación brindada por Argentina Programa #YoProgramo.
        En lo personal y privado soy un apasionado de la música en general y del
        repertorio de música clásica para guitarra de concierto o española. Practico deportes
        con el objetivo de superar mis propias marcas. Me gusta relacionarme con personas con
        intereses
        comunes. Valoro la amistad y me considero empático y responsable. </p>
</div>